services:
  redis:
    image: redis:7-alpine
    command: ["redis-server", "--appendonly", "yes"]
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    restart: unless-stopped

  server:
    build: .
    image: zane
    command: ["run", "src/server.ts"]
    environment:
      PORT: "3000"
      REDIS_URL: "redis://redis:6379"
      GITHUB_TOKEN: "${GITHUB_TOKEN}"
      GITHUB_WEBHOOK_SECRET: "${GITHUB_WEBHOOK_SECRET}"
    ports:
      - "3000:3000"
    depends_on:
      - redis
    volumes:
      - ./data:/usr/src/app/data
    restart: unless-stopped

  cloudflared:
    image: cloudflare/cloudflared:latest
    restart: unless-stopped
    command: tunnel --config /etc/cloudflared/config.yml run
    environment:
      TUNNEL_NAME: ${TUNNEL_NAME}
      TUNNEL_ID: ${TUNNEL_ID}
      TUNNEL_HOSTNAME: ${TUNNEL_HOSTNAME}
    volumes:
      - ./cloudflared:/etc/cloudflared:ro
    depends_on:
      - server

volumes:
  redis_data:
